.contacts {
  padding: 68px 70px 75px 141px;
  background: #1c1c1b;
}

@media (max-width: 1024px) {
  .contacts {
    padding: 66px 45px 70px 113px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding: 49px 40px 54px 87px;
  }
}

@media (max-width: 425px) {
  .contacts {
    padding: 22px 55px 41px;
  }
}
