.header__top-line {
  padding: 32px 179px 32px 123px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(
    72.89% 229.1% at 11.02% 66.27%,
    rgba(31, 31, 29, 0.84) 0%,
    rgba(31, 31, 29, 0.84) 76.27%
  );
  opacity: 0;
  transition: all 0.3s ease-in;
}

@media (max-width: 1024px) {
  .header__top-line {
    padding: 32px 100px;
  }
}
