.contacts__time {
  margin: 15px 0 0 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .contacts__time {
    margin-top: 37px;
    font-size: 20px;
    line-height: 23px;
  }
}
