.header__contacts {
  position: absolute;
  bottom: 41px;
  max-width: 1200px;
  padding: 0 123px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 33px;
}

@media (max-width: 1024px) {
  .header__contacts {
    padding: 0 64px 0 81px;
    gap: 45px;
    bottom: 31px;
    right: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .header__contacts {
    padding: 0 47px 0 60px;
    gap: 40px;
    bottom: 24px;
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .header__contacts {
    display: none;
  }
}
