.header__logo {
  width: 225px;
  height: 47px;
}

@media (max-width: 768px) {
  .header__logo {
    width: 135;
    height: 27px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    margin-bottom: 20px;
  }
}
