.banner_type_advantages {
  background: #1c1c1b;
  padding: 80px 123px 79px 142px;
}

@media (max-width: 1024px) {
  .banner_type_advantages {
    padding: 65px 88px 70px 112px;
  }
}

@media (max-width: 768px) {
  .banner_type_advantages {
    padding: 30px 29px 50px 87px;
  }
}

@media (max-width: 425px) {
  .banner_type_advantages {
    padding: 36px 10px 53px 36px;
  }
}
