.banner_type_moto {
  padding-bottom: 66px;
  background: #1c1c1b;
}

@media (max-width: 1024px) {
  .banner_type_moto {
    padding-bottom: 23px;
  }
}

@media (max-width: 768px) {
  .banner_type_moto {
    padding-bottom: 40px;
  }
}

@media (max-width: 425px) {
  .banner_type_moto {
    padding-bottom: 26px;
  }
}
