.banner_type_problem {
  background: #222220;
  padding: 75px 141px;
}

@media (max-width: 1024px) {
  .banner_type_problem {
    padding: 64px 60px 64px 112px;
  }
}

@media (max-width: 768px) {
  .banner_type_problem {
    padding: 54px 50px 52px 84px;
  }
}

@media (max-width: 425px) {
  .banner_type_problem {
    padding: 36px 33px 47px 44px;
  }
}
