.banner_type_advantages {
  background: #1c1c1b;
  padding-top: 80px;
}

@media (max-width: 1024px) {
  .banner_type_advantages {
    padding-top: 65px;
  }
}

@media (max-width: 768px) {
  .banner_type_advantages {
    padding-top: 30px;
  }
}

@media (max-width: 425px) {
  .banner_type_advantages {
    padding-top: 36px;
  }
}
