.header {
  background: url(../../images/header.png);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100vh;
  max-height: 722px;
}

@media (max-width: 1024px) {
  .header {
    max-height: 549px;
  }
}

@media (max-width: 768px) {
  .header {
    max-height: 433px;
  }
}

@media (max-width: 425px) {
  .header {
    max-height: 400px;
  }
}
