.banner {
  background: #ffd747;
  padding: 175px 141px 189px;
}

@media (max-width: 1024px) {
  .banner {
    padding: 145px 113px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 108px 85px;
  }
}

@media (max-width: 425px) {
  .banner {
    padding: 34px 44px;
  }
}
