.banner__list-item_type_jobs {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  line-height: normal;
  margin: 0 0 152px 0;
}

.banner__list-item_type_jobs:last-of-type {
  margin: 0;
}

.banner__list-item_type_jobs:before {
  content: "";
  margin: 0;
}

@media (max-width: 1024px) {
  .banner__list-item_type_jobs {
    margin-bottom: 107px;
  }
}

@media (max-width: 768px) {
  .banner__list-item_type_jobs {
    margin-bottom: 72px;
  }
}

@media (max-width: 425px) {
  .banner__list-item_type_jobs {
    margin-bottom: 40px;
  }
}
