.banner__list-item_type_advantages {
  clear: both;
  width: 100%;
  font-weight: normal;
  font-size: 33px;
  line-height: 43px;
  margin-bottom: 40px;
}

.banner__list-item_type_advantages:last-of-type {
  margin: 0;
}

@media (max-width: 1024px) {
  .banner__list-item_type_advantages {
    margin-bottom: 32px;
    font-size: 25px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .banner__list-item_type_advantages {
    font-size: 20px;
    line-height: 32px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 425px) {
  .banner__list-item_type_advantages {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 32px;
    width: calc(100% - 60px);
  }
}
