.banner__item-about {
  font-weight: normal;
  font-size: 27px;
  line-height: 43px;
  margin: 0 0 39px 0;
  color: #ede8e8;
  max-width: 615px;
}

@media (max-width: 1024px) {
  .banner__item-about {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 40px;
    max-width: 597px;
  }
}

@media (max-width: 768px) {
  .banner__item-about {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 32px;
    max-width: 606px;
  }
}

@media (max-width: 425px) {
  .banner__item-about {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
    max-width: 352px;
  }
}
