.banner__subtitle_type_advantages {
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  margin-bottom: 89px;
  color: #ede8e8;
}

@media (max-width: 1024px) {
  .banner__subtitle_type_advantages {
    margin-bottom: 70px;
    font-size: 22px;
    line-height: 40px;
  }
}
