.banner__subtitle_type_problem {
  font-weight: normal;
  font-size: 33px;
  line-height: 48px;
  color: #ede8e8;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .banner__subtitle_type_problem {
    margin-bottom: 39px;
    font-size: 22px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .banner__subtitle_type_problem {
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 425px) {
  .banner__subtitle_type_problem {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 32px;
  }
}
