.banner__subtitle_type_video {
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 51px;
  color: #ede8e8;
}

@media (max-width: 1024px) {
  .banner__subtitle_type_video {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 39px;
    max-width: 768px;
  }

  .banner__subtitle_type_video:last-of-type {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .banner__subtitle_type_video {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 37px;
    max-width: 654px;
  }

  .banner__subtitle_type_video:last-of-type {
    margin-bottom: 22px;
  }
}

@media (max-width: 425px) {
  .banner__subtitle_type_video {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 22px;
    max-width: 346px;
  }
}
