.banner__link-arrow {
  display: flex;
  padding: 14px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 47px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .banner__link-arrow {
    padding: 10px;
    width: 39px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .banner__link-arrow {
    padding: 8px;
    width: 29px;
    height: 28px;
  }
}

@media (max-width: 425px) {
  .banner__link-arrow {
    padding: 14px;
    width: 53px;
    height: 52px;
  }
}
