.banner__item-label {
  margin: 0 0 30px 0;
  font-weight: normal;
  font-size: 47px;
  line-height: 43px;
  color: #ede8e8;
}

@media (max-width: 1024px) {
  .banner__item-label {
    margin-bottom: 23px;
    font-size: 37px;
    line-height: 43px;
    max-width: 518px;
  }
}

@media (max-width: 768px) {
  .banner__item-label {
    margin-bottom: 18px;
    font-size: 27px;
    line-height: 43px;
    max-width: 577px;
  }
}

@media (max-width: 425px) {
  .banner__item-label {
    margin-bottom: 18px;
    font-size: 27px;
    line-height: 43px;
    color: #ffd747;
    max-width: 345px;
  }
}
