.banner__item_type_moto {
  box-shadow: none;
  max-width: 881px;
  height: 499px;
  width: 100%;
  min-width: 790px;
}

@media (max-width: 1024px) {
  .banner__item_type_moto {
    max-width: 705px;
    max-height: 400px;
    min-width: 250px;
  }
}

@media (max-width: 768px) {
  .banner__item_type_moto {
    max-width: 527px;
    max-height: 298px;
  }
}

@media (max-width: 425px) {
  .banner__item_type_moto {
    max-width: 353px;
    max-height: 349px;
  }
}
