.banner__item_type_jobs {
  box-shadow: none;
  max-width: 891px;
  height: 509px;
  width: 100%;
  min-width: 730px;
}

@media (max-width: 1024px) {
  .banner__item_type_jobs {
    max-width: 713px;
    max-height: 407px;
    min-width: 250px;
  }
}

@media (max-width: 768px) {
  .banner__item_type_jobs {
    max-width: 533px;
    max-height: 304px;
  }
}

@media (max-width: 425px) {
  .banner__item_type_jobs {
    max-width: 352px;
    max-height: 341px;
  }
}
