.header__subtitle {
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .header__subtitle {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .header__subtitle {
    font-size: 11px;
    line-height: 13px;
  }
}

@media (max-width: 425px) {
  .header__subtitle {
    font-size: 8.9px;
    line-height: 11px;
  }
}
