.banner__title_type_wishlist {
  margin-bottom: 57px;
  font-weight: normal;
  font-size: 70px;
  line-height: 80px;
  color: #ede8e8;
}

@media (max-width: 1024px) {
  .banner__title_type_wishlist {
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 69px;
  }
}

@media (max-width: 768px) {
  .banner__title_type_wishlist {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 55px;
  }
}

@media (max-width: 425px) {
  .banner__title_type_wishlist {
    font-size: 40px;
    line-height: 45px;
  }
}
