.banner__title_type_moto {
  font-weight: normal;
  font-size: 70px;
  line-height: 55px;
  margin-bottom: 37px;
  color: #ffd747;
}

@media (max-width: 1024px) {
  .banner__title_type_moto {
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 55px;
  }
}

@media (max-width: 768px) {
  .banner__title_type_moto {
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 55px;
  }
}

@media (max-width: 425px) {
  .banner__title_type_moto {
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
  }
}
