.header__video {
  height: 100%;
}

@media (min-width: 1280px) {
  .header__video {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .header__video {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .header__video {
    margin-left: -25%;
  }
}

@media (max-width: 425px) {
  .header__video {
    margin-left: -100%;
  }
}
