.header__video {
  height: 722px;
}

@media (min-width: 1280px) {
  .header__video {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .header__video {
    max-height: 549px;
    height: 549px;
  }
}

@media (max-width: 768px) {
  .header__video {
    max-height: 433px;
  }
}

@media (max-width: 425px) {
  .header__video {
    max-height: 400px;
  }
}
