.banner__number {
  margin: 40px 29px 0 0;
  font-weight: normal;
  font-size: 180px;
  line-height: 43px;
  color: #ffd747;
}

@media (max-width: 1024px) {
  .banner__number {
    font-size: 120px;
    line-height: 43px;
    margin: 25px 23px 0 0;
  }
}

@media (max-width: 768px) {
  .banner__number {
    font-size: 80px;
    line-height: 43px;
    margin: 17px 23px 0 0;
  }
}

@media (max-width: 425px) {
  .banner__number {
    display: none;
  }
}
