.banner__item {
  list-style: none;
  height: 357px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .banner__item {
    max-height: 285px;
  }
}

@media (max-width: 768px) {
  .banner__item {
    max-height: 213px;
  }
}

@media (max-width: 425px) {
  .banner__item {
    max-height: 317px;
  }
}
