.banner__title {
  font-weight: 500;
  font-size: 70px;
  line-height: 85px;
  margin: 0 0 22px 0;
  color: #212529;
}

@media (max-width: 1024px) {
  .banner__title {
    font-weight: 500;
    font-size: 60px;
  }
}
