.header__title {
  font-weight: bold;
  font-size: 68px;
  line-height: 50px;
  text-align: center;
  margin: 0 0 20px 0;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .header__title {
    font-size: 49px;
    line-height: 63px;
    margin-bottom: 9px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 41px;
    line-height: 45px;
    margin-bottom: 9px;
  }
}

@media (max-width: 425px) {
  .header__title {
    font-size: 33px;
    line-height: 37px;
    margin-bottom: 9px;
  }
}
