.banner__link-title {
  width: 100%;
  padding: 16px 20px 13px 69px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .banner__link-title {
    padding: 12px 20px 10px 56px;
  }
}

@media (max-width: 768px) {
  .banner__link-title {
    padding: 7px 41px 6px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 425px) {
  .banner__link-title {
    padding: 16px 75px 14px;
  }
}
