.menu__arrow {
  display: none;
}

@media (max-width: 992px) {
  .menu__arrow {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    display: block;
    position: absolute;
    right: 25px;
    top: calc((100% - 33px) / 2);
    top: 0;
    width: auto;
    height: 33px;
    color: white;
    font-weight: 300;
    font-size: 25pt;
  }
}
